// bower:scss
// endbower


// ==========================================================================
//                        BEGIN RX-FRAMEWORK SOURCE SCSS CODE
// ==========================================================================
// @import "rx-functions";
// @import "rx-global";
@import "rx-base";

@import "rx-borders";
@import "rx-border-radius";
@import "rx-colors";

// @import "rx-buttons";
// @import "rx-button-groups";
// @import "rx-dropdown-buttons";
// @import "rx-split-buttons";
// @import "rx-dropdown";


@import "rx-grid";
@import "rx-accordion";
@import "rx-alert-boxes";
@import "rx-block-grid";
@import "rx-breadcrumbs";

@import "rx-clearing";


@import "rx-flex-video";
// @import "rx-forms";
@import "rx-icon-bar";
@import "rx-inline-lists";
@import "rx-joyride";
@import "rx-keystrokes";
@import "rx-labels";
@import "rx-magellan";
@import "rx-orbit";
@import "rx-pagination";
@import "rx-panels";
@import "rx-pricing-tables";
@import "rx-progress-bars";
@import "rx-range-slider";
@import "rx-reveal";
@import "rx-side-nav";

@import "rx-sub-nav";
@import "rx-switches";
@import "rx-tables";
@import "rx-tabs";
@import "rx-thumbs";
@import "rx-tooltips";
@import "rx-top-bar";
@import "rx-type";
@import "rx-offcanvas";
@import "rx-visibility";


body{ // FOR SPECIFICITY

 

      // ==========================================================================
      // HELPER CLASSES
      // ========================================================================== 
        
        // VISIBILITY 
        .rx-hide {display:none;}
        .rx-block {display:block;}
        .rx-inline {display:inline;}
        .rx-inline-block {display:inline-block;}

        // TEXT ALIGNMENT
        .rx-text-center {text-align:center;}
        .rx-text-left {text-align:left;}
        .rx-text-right {text-align:right;}
        .rx-text-justify {text-align:justify;}

        // CURSOR
        .rx-pointer {cursor:pointer;}

        // FONT WEIGHTS
        .rx-font-normal {font-weight:normal;}
        .rx-font-bold {font-weight:bold;}

}















// ==========================================================================
// CUSTOM CSS
// ==========================================================================
body {

    p,li,ul,div,container,section {
      font-size:14px;
    }
    .reveal-modal-bg {
      @extend .rx-overlay-black;
      cursor:pointer;
    }

    .reveal-modal-bg.reveal-change-white {
      @extend .rx-overlay-white;
    }

    a {
      color:$rx-hgBlue;
    }


    *:focus {
        outline: 0;
    }
}
body {
  background:$rx-white;
  color: $rx-textGrey;

  h1, h2, h3, h4, h5, h6 {
  }
}

//fix the nav situation
.inner-wrap {
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    position: fixed;
}

.row {
  max-width: 80rem;
}
.top-bar, .top-bar.expanded .title-area {
    width: 100%;
    position: fixed;
    top: 0;
    background: $rx-hgBlue;
    color: $rx-white;
    .title-area {
        padding-left: 50px;
    }
    .toggle-topbar {
        left: 0 !important;
        right: auto;
        display: block;
    }
    .name h1 a {
        font-weight: 300;
        letter-spacing: 0.5px;
    }
}

.top-bar-wrap {
    position: relative;
    z-index: 0;
    height: 25px;
}



.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a, .top-bar .toggle-topbar.menu-icon a {
    color: $rx-white;
}



.top-bar.expanded {
  height:45px;
}



.content-container {
    position: relative;
    overflow: scroll;
    z-index: -1;
    height: 100%;
}

// style the nav
.left-off-canvas-menu {
    background: $rx-grey;
    overflow-x: scroll;
    ul.off-canvas-list {
        overflow-x: scroll;
        padding-bottom: 200px;
        li.rx-logo-area {
            height: 200px;
            text-align: center;
            padding-top: 40px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color:$rx-textGrey;
            img {
                margin-bottom: 11px;
                border: 1px solid $rx-textGrey;
                padding: 10px 15px;
            }
        }
    }
    ul.off-canvas-list li a {
        color: $rx-textGrey;
        text-transform: uppercase;
        font-size: 0.85rem;
        height: 100%;
        padding-left: 25px;
        position: relative;
        border-bottom: none;
        letter-spacing: 0.1rem;
        svg {
            font-size: 1.5rem;
            margin-right: 35px;
            position: absolute;
            right: -13px;
            top: 15px;
            fill: currentColor;
        }
    }
    ul.off-canvas-list li a.sub-level {
        font-size: 0.65rem;
        padding-left: 45px;
        border-left: 0px solid $rx-hgBlue;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        border: none;
    }
    ul.off-canvas-list li a:hover, ul.off-canvas-list li a.active {
        background: $rx-hgBlue;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        color: $rx-white;
    }
    ul.off-canvas-list li a.sub-level:hover, ul.off-canvas-list li a.sub-level.active {
        border-left: 5px solid $rx-hgBlue;
        background: $rx-grey;
        color:$rx-textGrey;
    }
    ul.off-canvas-list li a.active {
        svg {
            fill: currentColor;
        }
    }
    li.sub-level-list {
        display: none;
        ul {
            margin-left: 0;
            li {
                list-style-type: none;
            }
        }
    }
    ul.off-canvas-list li a.active {
        color: $rx-white;
        -o-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -khtml-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }
}

.top-bar-section .has-form, .top-bar-section ul li {
    background: none;
    input {
        width: 400px;
        border: 1px solid $rx-brGrey;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
        color: #85868d;
        font-weight: 300;
    }
    :-moz-placeholder {
        // Firefox 18-
        color: #85868d;
        font-weight: 300;
    }
    ::-moz-placeholder {
        // Firefox 19+
        color: #85868d;
        font-weight: 300;
    }
    :-ms-input-placeholder {
        color: #85868d;
        font-weight: 300;
    }
    .button span {
        color: $rx-white;
        position: relative;
        top: -11px;
        font-weight: 200;
    }
}

.hamburger {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    float: left;
    margin: 0;
    padding: 13px 0;
    position: relative;
    top: -1px;
    left: 10px;
    -moz-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    -o-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    -webkit-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
    transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
}

.hamburger li {
    width: 24px;
    height: 4px;
    background: $rx-white;
    margin: 2px 0 0;
    padding: 0;
    -moz-transform: translate3rd(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
    -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
    -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
    transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

.checked .hamburger li.first {
    -moz-transform: rotate(-135deg) translateY(-8.5px);
    -ms-transform: rotate(-135deg) translateY(-8.5px);
    -webkit-transform: rotate(-135deg) translateY(-8.5px);
    transform: rotate(-135deg) translateY(-8.5px);
}

.checked .hamburger li.second {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

.checked .hamburger li.third {
    -moz-transform: rotate(135deg) translateY(8.5px);
    -ms-transform: rotate(135deg) translateY(8.5px);
    -webkit-transform: rotate(135deg) translateY(8.5px);
    transform: rotate(135deg) translateY(8.5px);
}

// sections
.header {
    padding: 30px;
    color: $rx-white;
    h1, h2, h3, h4, h5, h6 {
        color: $rx-white;
    }
    h1 {
        margin-top: 60px;
        font-weight: 200;
        letter-spacing: 0.15rem;
        img {
            margin-bottom: 15px;
        }
        span {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            padding: 10px 30px;
            width: 500px;
            display: inline-block;
            font-size: 1.35rem;
        }
    }
}

section.panel {
    min-height: 150px;
    margin-top: 75px;
    padding: 10px 0 0 0;
    background:$rx-grey;
    color: $rx-textGrey;
    border-color:$rx-brGrey;
    .panel {
      background: $rx-white;
      border-left:none;
      border-right:none;
      border-bottom:none;
      min-height: 150px;
      color: $rx-textGrey;
      border-color:$rx-brGrey;
    }
    h1,h2,h3,h4,h5,h6 {
      color: $rx-textGrey;
    }
    p {color: $rx-textGrey;}
    .hash-title {
        text-transform: uppercase;
        font-size: 2rem;
        text-indent:20px;
        text-transform:capitalize;
        -o-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -khtml-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        a {
          font-size:14px;
        }
    }
    .hash-title:hover {
        color: $rx-hgBlue;
    }
    .subsection {
      margin-top:60px;
    } 
    
    .buttons-row {
      .large-3, .large-4 {
        text-align: center;

        code {
          text-align: left;
          margin-bottom:21px;
        }
      }
    }
    .fonts-row {
        .large-3 {
            text-align:center;

            code {
                text-align:left;
                margin-bottom:21px;
            }

            .mb5 {
                code {
                    margin-bottom:5px;
                }
            }
        }
    }

    .snippet p {
      margin:10px 0;
    }
    span.code {
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      color: $rx-textGrey;

    }

    .snippet-example {
      padding:10px;
    }

    .snippet-example-small {padding:3px 5px;}

    .color-definition {
      .color-top {
        height:70px;
        padding:10px;
        @extend .rx-br-rad-top;
      }

      .color-info {
        background:$rx-grey;
        @extend .rx-br-rad-bottom;
        padding:10px;
        font-size:0.80em;


        code {
          @extend .rx-br-omit;
          background:none;
          background-color:none;
          color:$rx-textGrey;
          padding:0;
        }
      }
      .secondColor, .tertColor {
          width:50%;
          padding:5px;
          code {
            padding:10px;
            font-size:0.80em;
            color:$rx-white;
            background:none;
            @extend .rx-br-omit;
          }
        }
        .secondColor {
          code{
            color:$rx-textGrey;
            
          }
          @extend .rx-br-rad-bottomLeft;
        }
        .tertColor {
          @extend .rx-br-rad-bottomRight;
        }
    }
    
    .fa-chevron-right {position:relative; top:2px;}
    
}


section#overview.panel {
     margin-top: 0px;
}

footer {
    height: 75px;
    line-height: 75px;
    margin-top: 50px;
    color: $rx-white;
    background: #4487bd;
    p {
        font-weight: 300;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}

@media only screen and (min-width: 64.063em) {
    .row {
      margin-left:50px;
    }
}

@media only screen and (max-width: 64.063em) {
  .color-definition {
      margin-bottom:50px;
    }
}

#drop_content {
    position: absolute;
    background-color: $rx-white;
    border: 1px solid #d3d3db;
    margin: 7px 0 0 0;
    z-index: 50;
    width:400px;

    .result-link {
      display:flex;
      color:$rx-textGrey;
      border-bottom:1px solid #d3d3db;
      -moz-transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
     
      .dd-right {
        vertical-align: middle;
        padding: 5px 15px;
        
        .dd-right-title {
          font-weight: 400;
        }

        .dd-right-description {
          font-size: 0.80rem;
          line-height:1rem;
          margin-bottom:5px;
        }
      }
    }
    .result-link:last-child, 
    .result-link:nth-child(5){
      border-bottom:none;
    }
    .result-link:hover, 
    .result-link:hover .dd-right .dd-right-title, 
    .result-link:hover .dd-right .dd-right-description{
      background:$rx-grey;
      color:$rx-hgBlue;
    }
}

#rx-overlay-example {
  padding:0;
  border:none;
}



