<h2 class="hash-title">#colors</h2>
<div class="panel">
	<p>
		<h3>Usage:</h3> 
		<div class="alert-box alert rx-red-bg radius">IMPORTANT NOTE: DO NOT use color classes with JavaScript. Colors are for style purposes only.</div>
CSS: For text color, use <code>.rx-%colorName%</code>, where <code>%colorName%</code> is the desired color (examples below). For background color, use <code>.rx-%colorName%-bg</code>	 </p>
</div>


<div class="panel">
	<h3 class="subsection">Indicator Text and Icon Colors</h3>
	<p>These Colors are used only when we need to indicate something of importance to the customer about our services or products. etc. </p>
	<span class="color rx-red-bg"><span class="code">.rx-red-bg<br>#d95553</span></span>
	<span class="color rx-yellow-bg"><span class="code">.rx-yellow-bg<br>#efad58</span></span>
	<span class="color rx-green-bg"><span class="code">.rx-green-bg<br>#007b34</span></span>
	<span class="color rx-blue-bg"><span class="code">.rx-blue-bg<br>#066cb6</span></span>
	<br><br>
	<ul>
		<li class="rx-red"><strong>RED</strong> indicator text is <code>#d95553</code> with a class of <code>.rx-red</code></li>
		<li class="rx-yellow"><strong>YELLOW</strong> indicator text is <code>#efad58</code> with a class of <code>.rx-yellow</code></li>
		<li class="rx-green"><strong>GREEN</strong> indicator text is <code>#007b34</code> with a class of <code>.rx-green</code></li>
		<li class="rx-blue"><strong>BLUE</strong> indicator text is <code>#066cb6</code> with a class of <code>.rx-blue</code></li>
	</ul>
	<hr>
	<p class="text-center">Our four Indicator Icons have these colors by default. <a du-scrollspy du-smooth-scroll href="#iconography">Go To Indicator Icons <i class="fa fa-chevron-right"></i></a></p>
</div>