<h2 class="hash-title">Colors</h2>
<div class="panel">
	<div class="large-12 columns">
		<h3 class="subsection">Usage</h3>
		<p class="callout">Each color class is prepended with <code>rx-</code> followed by the color name. For example; If you want to make some text <span class="rx-orange">Rexel Orange</span>, add a class of <code>rx-orange</code>to the element. If you append <code>rx-orange</code> with <code>-bg</code>, making the class <code>rx-orange-bg</code>, the background color of the element will use <span class="rx-orange-bg">Rexel Orange</span>. If you replace <code>-bg</code> with <code>-br</code>, making the class <code>rx-orange-br</code> you are now targeting the element's border-color. <span class="rx-orange-br">Rexel Orange</span> will now show with a <span class="rx-orange">Rexel Orange</span> border of <code>1px solid #ee7803</code>. </p>	
	</div>



		<div class="row">
			<div class="large-12 columns">
			<h3 class="subsection">Global GreyScale Colors</h3>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-white-bg rx-br-bottom-omit"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#ffffff</code><br>
						<code class="right">$rx-white</code>
					</span>
					<strong>Rexel White</strong><br>
					<code>.rx-white</code><br>
					<code>.rx-white-bg</code><br>
					<code>.rx-white-br</code><br>
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-grey-bg rx-br-bottom"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#dadada</code><br>
						<code class="right">$rx-grey</code>
					</span>
					<strong>Rexel Grey</strong><br>
					<code>.rx-grey</code><br>
					<code>.rx-grey-bg</code><br>
					<code>.rx-grey-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-brGrey-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#f5f5f5</code><br>
						<code class="right">$rx-brGrey</code>
					</span>
					<strong>Rexel Border Grey</strong><br>
					<code>.rx-brGrey</code><br>
					<code>.rx-brGrey-bg</code><br>
					<code>.rx-brGrey-br</code><br>
				</div>
			</div>

			

			<div class="color-definition large-3 columns">
				<div class="color-top rx-textGrey-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#58585a</code><br>
						<code class="right">$rx-textGrey</code>
					</span>
					<strong>Rexel Text Grey</strong><br>
					<code>.rx-textGrey</code><br>
					<code>.rx-textGrey-bg</code><br>
					<code>.rx-textGrey-br</code><br>
				</div>
			</div>

			
			
			<div class="large-12 columns">
			<h3 class="subsection">Global Indicator Colors</h3>
	<p>These Colors are used only when we need to indicate something of importance to the customer about our services or products. etc. </p>	
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-ind-red-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#d95553</code><br>
						<code class="right">$rx-ind-red</code>
					</span>
					<strong>Indicator Red</strong><br>
					<code>.rx-ind-red</code><br>
					<code>.rx-ind-red-bg</code><br>
					<code>.rx-ind-red-br</code><br>
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-ind-yellow-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#efad58</code><br>
						<code class="right">$rx-ind-yellow</code>
					</span>
					<strong>Indicator Yellow</strong><br>
					<code>.rx-ind-yellow</code><br>
					<code>.rx-ind-yellow-bg</code><br>
					<code>.rx-ind-yellow-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-ind-green-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#007b34</code><br>
						<code class="right">$rx-ind-green</code>
					</span>
					<strong>Indicator Green</strong><br>
					<code>.rx-ind-green</code><br>
					<code>.rx-ind-green-bg</code><br>
					<code>.rx-ind-green-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-ind-blue-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#066cb6</code><br>
						<code class="right">$rx-ind-blue</code>
					</span>
					<strong>Indicator Blue</strong><br>
					<code>.rx-ind-blue</code><br>
					<code>.rx-ind-blue-bg</code><br>
					<code>.rx-ind-blue-br</code><br>
					
				</div>
			</div>


			<div class="large-12 columns">
			<h3 class="subsection">Rexel USA Color Pallete</h3>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-blue-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#2a3e87</code><br>
						<code class="right">$rx-blue</code>
					</span>
					<strong>Rexel Blue</strong><br>
					<code>.rx-blue</code><br>
					<code>.rx-blue-bg</code><br>
					<code>.rx-blue-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-blue2-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#4487bd</code><br>
						<code class="right">$rx-blue2</code>
					</span>
					<strong>Rexel Secondary Blue</strong><br>
					<code>.rx-blue2</code><br>
					<code>.rx-blue2-bg</code><br>
					<code>.rx-blue2-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-orange-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#ee7803</code><br>
						<code class="right">$rx-orange</code>
					</span>
					<strong>Rexel Orange</strong><br>
					<code>.rx-orange</code><br>
					<code>.rx-orange-bg</code><br>
					<code>.rx-orange-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-grey-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right"> </code><br>
						<code class="right"> </code>
					</span>			
					<strong> </strong><br>
					<code> </code><br>
					<code> </code><br>
					<code> </code><br>
				</div>
			</div>


			<div class="large-12 columns">
			<h3 class="subsection">Hagemeyer Color Pallete</h3>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-hgBlue-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#0F6AB3</code><br>
						<code class="right">$rx-hgBlue</code>
					</span>	
					<strong>Hagemeyer Blue</strong><br>
					<code>.rx-hgBlue</code><br>
					<code>.rx-hgBlue-bg</code><br>
					<code>.rx-hgBlue-br</code><br>
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-hgOrange-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right">#E86D12</code><br>
						<code class="right">$rx-hgOrange</code>
					</span>			
					<strong>Hagemeyer Orange</strong><br>
					<code>.rx-hgOrange</code><br>
					<code>.rx-hgOrange-bg</code><br>
					<code>.rx-hgOrange-br</code><br>
					
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-grey-bg"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right"> </code><br>
						<code class="right"> </code>
					</span>			
					<strong> </strong><br>
					<code> </code><br>
					<code> </code><br>
					<code> </code><br>
				</div>
			</div>

			<div class="color-definition large-3 columns">
				<div class="color-top rx-grey-bg rx-br-top"> </div>
				<div class="color-info">
					<span class="right">
						<code class="right"> </code><br>
						<code class="right"> </code>
					</span>			
					<strong> </strong><br>
					<code> </code><br>
					<code> </code><br>
					<code> </code><br>
				</div>
			</div>

		</div>
<span class="rx-placeholder-text">test</span>
<span class="rx-disabled-text">test</span>
<span class="rx-overlay">test</span>
			<br><br><br><br>



			body background color. #fff<br>
			body text fallback color. <br>
			other text colors.<br>
			main colors. <br>
			secondary colors. <br>
			tertiary colors. <br>
			border colors. <br>
			link colors. <br>
				- visited link colors. <br> 
				- hover link colors. <br>
			button colors.<br>
			hover-button-colors.<br>
			background-colors. <br>
			other colors.<br>
			indicator text and icon colors (see below)<br>

				<br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>



	
	<hr>
	<p class="text-center">Our four Indicator Icons have these colors by default. <a du-scrollspy du-smooth-scroll href="#iconography">Go To Indicator Icons <i class="fa fa-chevron-right"></i></a></p>
</div>