<!-- header -->
<div id="header" class="header">
    
</div>
<!-- section includes -->
 <section class="panel radius" ng-include="" src="'views/overview.html'"        id="overview">        </section>
 <section class="panel radius" ng-include="" src="'views/colors.html'"          id="colors">          </section>
 <section class="panel radius" ng-include="" src="'views/logos.html'"           id="logos">           </section>
 <section class="panel radius" ng-include="" src="'views/maps.html'"            id="maps">            </section>
 <section class="panel radius" ng-include="" src="'views/banners.html'"         id="banners">         </section>

 <div id="responsive">
   <section class="panel radius" ng-include="" src="'views/containers.html'"      id="containers">      </section>
   <section class="panel radius" ng-include="" src="'views/mediaqueries.html'"    id="mediaqueries">    </section>
   <section class="panel radius" ng-include="" src="'views/visibility.html'"      id="visibility">      </section>
</div>

 <section id="typography">
   <section class="panel radius" ng-include="" src="'views/fonts.html'"           id="fonts">           </section>
   <section class="panel radius" ng-include="" src="'views/iconography.html'"     id="iconography">     </section>
   <section class="panel radius" ng-include="" src="'views/formatting.html'"      id="formatting">      </section>
 </section>

 <section id="media">
   <section class="panel radius" ng-include="" src="'views/productimages.html'"   id="productimages">   </section>
   <section class="panel radius" ng-include="" src="'views/thumbnails.html'"      id="thumbnails">      </section>
   <section class="panel radius" ng-include="" src="'views/videos.html'"          id="videos">          </section>
   <section class="panel radius" ng-include="" src="'views/360photos.html'"       id="360photos">       </section>
</section>

<section id="html">
   <section class="panel radius" ng-include="" src="'views/lists.html'"           id="lists">           </section>
   <section class="panel radius" ng-include="" src="'views/tables.html'"          id="tables">          </section>
   <section class="panel radius" ng-include="" src="'views/linksdownloads.html'"  id="linksdownloads">  </section>
   <section class="panel radius" ng-include="" src="'views/inputs.html'"          id="inputs">          </section>
   <section class="panel radius" ng-include="" src="'views/textareas.html'"       id="textareas">       </section>
   <section class="panel radius" ng-include="" src="'views/forms.html'"           id="forms">           </section>
   <section class="panel radius" ng-include="" src="'views/labels.html'"          id="labels">          </section>
   <section class="panel radius" ng-include="" src="'views/buttons.html'"         id="buttons">         </section>
</section>

<section id="interactions">
   <section class="panel radius" ng-include="" src="'views/animations.html'"      id="animations">      </section>
   <section class="panel radius" ng-include="" src="'views/slideshows.html'"      id="slideshows">      </section>
   <section class="panel radius" ng-include="" src="'views/modals.html'"          id="modals">          </section>
   <section class="panel radius" ng-include="" src="'views/lightboxes.html'"      id="lightboxes">      </section>
   <section class="panel radius" ng-include="" src="'views/dropdowns.html'"       id="dropdowns">       </section>
   <section class="panel radius" ng-include="" src="'views/tooltips.html'"        id="tooltips">        </section>
   <section class="panel radius" ng-include="" src="'views/switches.html'"        id="switches">        </section>
   <section class="panel radius" ng-include="" src="'views/breadcrumbs.html'"     id="breadcrumbs">     </section>
   <section class="panel radius" ng-include="" src="'views/pagination.html'"      id="pagination">      </section>
   <section class="panel radius" ng-include="" src="'views/rangesliders.html'"    id="rangesliders">    </section>
   <section class="panel radius" ng-include="" src="'views/alertswarnings.html'"  id="alertswarnings">  </section>
   <section class="panel radius" ng-include="" src="'views/progressbars.html'"    id="progressbars">    </section>
   <section class="panel radius" ng-include="" src="'views/accordions.html'"      id="accordions">      </section>
   <section class="panel radius" ng-include="" src="'views/tabs.html'"            id="tabs">            </section>
 </section>

